*.o
*.ppu
*.bak
PlusAlpha
lib/
lib/i386-darwin/
lib/i386-darwin/pafrmmainunit.lfm
lib/i386-darwin/frmtransactionunit.lfm
ppas.sh
*.exe
lsacct
mkacct
lstran
mkacct
lstran
lsacct
lsacct

.DS_Store

sqlite3-32.dll
sqlite3.dll
PlusAlpha.app/Icon
PlusAlpha.app/Contents/MacOS/locale/PlusAlpha.JA.po
PlusAlpha.app/Contents/MacOS/locale/PlusAlpha.po
lib/i386-darwin/PlusAlpha.compiled
imp_amex
*.sqlite-journal
